.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 검은색의 70% 투명도 */
  z-index: 1; /* 모달보다 하나 낮은 z-index */
}

.modal-content {
  position: fixed;
  top: 50%; /* 화면의 중앙에서 시작 */
  left: 50%; /* 화면의 중앙에서 시작 */
  transform: translate(-50%, -50%); /* 중앙 정렬을 위한 변환 */
  z-index: 2;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: .75rem;

  .product-name {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .product-sizes {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        justify-content: space-between; /* size 내용은 왼쪽, heart icon 은 오른쪽 정렬 */
        align-items: center; /* 항목들을 수직으로 중앙 정렬 */
        border-bottom: 1px solid #eee;
        padding-block: 5px;
        padding-inline: 10px;

        .size {
          .size-stock {
            font-color: #888;
          }
        }

        i {
          float: right;
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-top: 20px;

    .close-text {
      cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    }
  }
}

@include mobile {
  .modal-overlay {}

  .modal-content {
    width: 95%;
    padding: 20px;
    font-size: .7rem;

    .product-name {
      font-size: 1rem;
    }

    .product-sizes {

      ul {
        li {
          padding-block: 3px;
          padding-inline: 8px;

          .size {
            .size-stock {}
          }

          i {}
        }
      }
    }

    .actions {
      margin-top: 15px;
      .close-text {}
    }
  }
}