# Existing settings
.DS_Store
node_modules
/dist

# Local environment variable files
.env.local
.env.*.local

# Explicitly ignoring development environment variable file
.env.development

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other directories
src/components/bk/
certs/
