.price-summary {
  .title {
    margin-bottom: 15px;
  }

  .content {
    padding: 0 0 0 10px;

    .total-product-amount, .total-discount-amount, .delivery-fee, .final-payment-amount {
      font-size: .9rem;
      display: flex;
      flex-direction: column;
      gap: 3px;

      .label {
        background-color: black;
        color: white;
        padding: 6px;
      }

      .price {
        text-align: right;
        margin-bottom: 8px;
      }
    }

    .btn-select-coupon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: .9rem;
      width: 100%;
      border: 1px solid #e3e3e3;
      background-color: white;
      color: black;
      gap: 3px;

      .label {
        padding: 6px;
      }
    }
  }
}

@include mobile {
  .price-summary {
    .title {}

    .content {
      padding: 0 10px 0 10px;
      .total-product-amount, .total-discount-amount, .delivery-fee, .final-payment-amount {
        font-size: .7rem;
        gap: 1.5px;

        .label {
          padding: 3px 6px;
        }

        .price {
          margin-bottom: 5px;
        }
      }
    }
  }
}