.order-redirect-iamport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .spinner-container {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: none;

    .spinner {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(0.7);
      backface-visibility: hidden;
      transform-origin: 0 0;

      div {
        box-sizing: content-box;
        position: absolute;
        width: 15px;

        &:nth-child(1) {
          left: 17.5px;
          background: #000000;
          animation: pulse-animation-1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation-delay: -0.2s;
        }

        &:nth-child(2) {
          left: 42.5px;
          background: #303030;
          animation: pulse-animation-2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation-delay: -0.1s;
        }

        &:nth-child(3) {
          left: 67.5px;
          background: #606060;
          animation: pulse-animation-3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation-delay: 0s; /* 수정된 부분 */
        }

        @keyframes pulse-animation-1 {
          0% { top: 23.75px; height: 52.5px; }
          50%, 100% { top: 32.5px; height: 35px; }
        }

        @keyframes pulse-animation-2 {
          0% { top: 25.9375px; height: 48.125px; }
          50%, 100% { top: 32.5px; height: 35px; }
        }

        @keyframes pulse-animation-3 {
          0% { top: 28.125px; height: 43.75px; }
          50%, 100% { top: 32.5px; height: 35px; }
        }
      }
    }
  }

  p {
    font-size: .75rem;
  }
}

