.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 검은색의 70% 투명도 */
  z-index: 1; /* 모달보다 하나 낮은 z-index */
}

.modal-content {
  position: fixed;
  top: 50%; /* 화면의 중앙에서 시작 */
  left: 50%; /* 화면의 중앙에서 시작 */
  transform: translate(-50%, -50%); /* 중앙 정렬을 위한 변환 */
  z-index: 2;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: .75rem;

  .announce-message {
    p {
      margin-bottom: 0;

      &.additional-info {
        margin-bottom: 20px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    .btn-confirm {
      align-items: center;
      border-width: 0.0625rem;
      border-radius: 5px;
      font-size: .75rem;
      font-weight: 700;
      height: 2.0rem;
      justify-content: center;
      text-align: center;
      width: 100%;
      background-color: rgb(0, 0, 0);
      border-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }

    .btn-cancel {
      align-items: center;
      border-width: 0.0625rem;
      border-radius: 5px;
      font-size: .75rem;
      font-weight: 700;
      height: 2.0rem;
      justify-content: center;
      text-align: center;
      width: 100%;
      background-color: rgb(255, 255, 255);
      border-color: rgb(0, 0, 0);
      color: rgb(0, 0, 0);
    }
  }
}

@include mobile {
  .modal-overlay {}

  .modal-content {
    width: 95%;
    padding: 20px;
    font-size: .7rem;

    .announce-message {
      p {
        &.additional-info {}
      }
    }

    .actions {
      .btn-confirm {}
      .btn-cancel {}
    }
  }
}