.recently-viewed-products {
  padding-block: 20px;

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-inline: 15px;
    margin-bottom: 20px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;

    .item {
      flex: 0 0 25%;
      max-width: 25%;
      padding: 15px;

      .product {
        border: 1px solid rgba(169, 169, 169, .3);

        .image-container {
          display: block;
          width: 100%;
          aspect-ratio: 10 / 11;
          background-size: cover;
          background-position: center;
        }

        .detail-section {
          flex: 1;
          display: flex;
          padding: 10px 15px;
          justify-content: space-between;

          .info-section {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title-row {
              display: flex;
              align-items: center;
              font-size: 0.9rem;
              font-weight: bold;
              max-width: 270px;

              .discount-per {
                display: inline;
                white-space: nowrap;
                align-items: center;
                color: #dc3545;
                margin-right: 0.2rem;
              }

              .name {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            .pricing-row {
              font-size: 0.9rem;

              .price-container {
                display: flex;
                align-items: center;
                gap: 0.25rem;

                .original-price {
                  color: #6c757d;

                  &.sale {
                    text-decoration: line-through;
                  }
                }

                .discounted-price {
                  color: #dc3545;
                }
              }
            }
          }

          .action-buttons {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 15px;
    gap: 0.1rem;
    font-size: 0.9rem;

    button {
      border: none;
      background-color: transparent;
    }

    span {
      cursor: pointer;
      color: gray;
      margin: 0 2px;

      &.current-page {
        color: black;
        font-weight: bold;
      }
    }
  }
}

@include tablet {
  .recently-viewed-products {
    padding-block: 15px;
    .title {
      font-size: 15px;
      margin: 0 5px 0 5px;
    }

    .content {
      .pagination {
        font-size: 0.8rem;
        button {}
        span {}
      }

      .grid {
        .item {
          flex: 0 0 33.3333%;
          max-width: 33.3333%;
          padding: 5px;
          .product {
            .image-container {
            }
            .detail-section {
              padding: 5px 7.5px;
              .info-section {
                .title-row {
                  font-size: 0.6rem;
                  max-width: 170px;
                  .discount-per {}
                  .name {}
                }
                .pricing-row {
                  font-size: 0.6rem;
                  .price-container {
                    .original-price {}
                    .discounted-price {}
                  }
                }
              }
              .action-buttons {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .recently-viewed-products {
    padding-block: 10px;
    .title {
      font-size: 15px;
      margin: 0 5px 0 5px;
    }

    .content {
      .pagination {
        font-size: 0.8rem;
        button {}
        span {}
      }

      .grid {
        .item {
          flex: 0 0 50%;
          max-width: 50%;
          padding: 5px;
          .product {
            .image-container {
            }
            .detail-section {
              padding: 5px 7.5px;
              .info-section {
                .title-row {
                  font-size: 0.6rem;
                  max-width: 140px;
                  .discount-per {}
                  .name {}
                }
                .pricing-row {
                  font-size: 0.6rem;
                  .price-container {
                    .original-price {}
                    .discounted-price {}
                  }
                }
              }
              .action-buttons {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
