.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;

  .content {
    padding-inline: 15px;

    .product-section {
      display: flex;
      height: 800px;

      .product-images {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .selected-image-container {
          overflow: hidden;

          .selected-image {
            //display: inline-block;
            width: 700px;
            height: 800px;
            object-fit: cover;
            //background-size: cover;
            //background-position: center;
            //transform-origin: center;
          }
        }

        .image-wrapper {
          height: 800px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 10px;
          margin-right: 50px;

          .image-list {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            gap: 4px;

            scrollbar-width: none; /* Firefox 스크롤바 공간 없애기 */
            -ms-overflow-style: none; /* IE, Edge 스크롤바 숨기기 */
            &::-webkit-scrollbar { /* Chrome, Safari, Opera 스크롤바 공간 없애기 */
              display: none;
            }

            .image-container {
              //display: inline-block;
              width: 80px;
              height: 96px;
              //background-size: cover;
              //background-position: center;
              object-fit: cover; // 이미지 비율 유지하면서 채우기 // TODO 화질 고민...contain이 좋은데 비율 유지하되 채우기가 안됨.
              cursor: pointer;

              &.selected {
                border: 1px solid black; // 선택된 이미지에 대한 테두리 스타일
                outline-offset: -1px;
              }
            }
          }

          .image-list-navigation {
            height: 45px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: stretch;
            cursor: pointer;

            .button {
              margin: 0;
              width: calc((100% - 1px)/2);
              height: 100%;
              background-color: darkgray;
              color: white;
              border-radius: 0;
              border: none;
              display: block;
            }

            .divider {
              width: 1px;
              background-color: white;
            }
          }
        }
      }

      .product-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title-row {
          font-size: 1.6rem;
          font-weight: bold;
          white-space: normal;
          margin-bottom: 10px;

          .new-label {
            background-color: #dc3545;
            color: white;
            padding: 2px 10px;
            margin-right: 10px;
            line-height: 1; // 줄 간격을 1로 설정하여 패딩에 의해 높이가 늘어나지 않도록 함.
          }

          .discount-per {
            display: inline;
            color: #dc3545;
            margin-right: 5px;
          }

          .name {
            display: inline;
          }
        }

        .price-actions-row {
          display: flex;
          justify-content: space-between;
          font-size: 1.5rem;

          //.price-row {

          .price-container {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            flex: 1;

            .original-price {
              color: black;

              &.sale {
                text-decoration: line-through;
              }
            }

            .discounted-price {
              margin-left: .5rem;
              color: #dc3545;
            }
          }

          .action-container {
            //display: flex;
            //justify-content: space-between;
            //margin-top: auto;
            flex-shrink: 0;

            .button {
              position: relative;
              display: flex;
              align-items: center;
              font-size: 1rem;
              font-weight: 700;
              justify-content: center;
              text-align: center;
              border: none;
              background-color: transparent;

              &.btn-add-wishlist {
                color: black;
              }
            }
          }
          //}
        }

        .divider {
          border-top: 1px solid #e3e3e3;
          margin: 20px 0;
        }

        .product-details {
          .description {
            color: #2f2f2f;
            font-size: .75rem;
            padding-block: 1px;
          }
        }

        .options {
          margin-top: auto;

          .option-product-size {
            display: flex;
            flex-direction: row;
            margin: 20px 0 10px 0;
            height: 50px;

            .product-sizes {
              flex: 1;

              .select-field {
                outline: none;
                padding-inline: 10px;
                height: 100%;
                width: 100%;
                font-size: 1rem;
                color: black;
              }
            }

            .quantity-control {
              margin-left: 2%;

              input[type="number"] {
                text-align: center;
                border: none;
                outline: none;
                padding: 5px;
                height: 50px;
                width: 50px;
              }

              .btn-quantity-down,
              .btn-quantity-up {
                border: 1px solid #f5f5f5;
                outline: none;
                height: 50px;
                background-color: darkgray;
                color: white;
              }
            }
          }
        }

        .actions {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .button {
            position: relative;
            display: flex;
            align-items: center;
            border-width: 0.0625rem;
            font-size: .75rem;
            font-weight: 700;
            height: 3.2rem;
            width: 100%;
            justify-content: center;
            text-align: center;
            border-radius: 5px;

            &.btn-add-cart {
              background-color: black;
              color: white;
              border: 1px solid black;
            }
          }
        }
      }
    }

    .product-detail-section {
      margin-top: 20px;
      border-top: 1px solid #e3e3e3;

      .content {
        margin-top: 20px;

        ::v-deep img {
          max-width: 100%; /* 이미지가 부모 컨테이너 너비를 초과하지 않도록 */
          height: auto; /* 이미지의 높이를 자동으로 설정하여 비율 유지 */
          display: block; /* 이미지를 블록 요소로 만들어 줄 바꿈 */
          object-fit: contain; /* 컨테이너 내에 이미지를 비율을 유지하며 채움 */
          //aspect-ratio: auto;
        }
      }
      //.content /deep/ img {
      //  max-width: 100%; /* 이미지가 부모 컨테이너 너비를 초과하지 않도록 */
      //  height: auto; /* 이미지의 높이를 자동으로 설정하여 비율 유지 */
      //  object-fit: contain; /* 컨테이너 내에 이미지를 비율을 유지하며 채움 */
      //}
      .announce {
        margin-top: 15px;
        font-size: .8rem;
      }
    }

    .qa-section {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #e3e3e3;
      font-size: .8rem;

      .actions {
        display: flex;
        align-items: center;
        margin-top: 10px;
        gap: 8px;

        .button {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: .75rem;
          font-weight: 700;
          height: 2rem;
          width: 100px;
          border: none;

          &.btn-inquiry-product {
            background-color: black;
            color: white;
          }

          &.btn-inquiry-personal {
            display: block;
            background-color: white;
            color: black;
            border: 0.0625rem solid #000;
          }
        }
      }

      .contacts {
        .pagination {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-inline: 15px;
          gap: 0.1rem;
          font-size: 0.9rem;

          button {
            border: none;
            background-color: transparent;

            &:not(:disabled) .bi {
              color: black;
            }
          }

          span {
            cursor: pointer;
            color: gray;
            margin: 0 2px;

            &.current-page {
              color: black;
              font-weight: bold;
            }
          }
        }

        table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 10px;

          thead {
            tr {
              th {
                padding: 3px 8px;
                text-align: left;
                background-color: #f5f5f5;
                font-weight: bold;
              }
            }
          }

          tbody {
            tr {
              td {
                border-top: 1px solid #e3e3e3;
                padding: 3px 8px;
                text-align: left;
                //font-size: 0.9rem;
                color: #555;

                &.is-private-col {
                  width: 20px;
                }

                &.title-col {
                  width: auto;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                &.status-col {
                  width: 80px;
                }

                &.inquirer-email-col {
                  width: 200px;
                }

                &.reg-date-col {
                  width: 100px;
                }

                &.inquiry-content-empty-col {
                  border-top: none;
                }
                &.inquiry-content-col {
                  border-top: none;
                  .indent {
                    margin-right: 5px;
                  }
                }

                &.answer-content-empty-col {
                  border-top: none;
                }
                &.answer-content-col {
                  .indent {
                    margin-right: 5px;
                  }
                }
              }
            }
          }
        }

        &.no-contact-data {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #555;
        }
      }
    }
  }

  .not-in-stock-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .not-in-stock {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: black;
      color: white;
      font-size: 2.5rem;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: center;
      animation: fadeIn 1s;
      z-index: 2;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@include mobile {
  .product-detail {
    //justify-content: space-between; // 내용을 상하로 분산
    margin-top: 50px;

    .content {
      padding-inline: 0;

      .product-section {
        flex-direction: column;
        height: auto;

        .product-images {
          flex-direction: column;

          .selected-image-container {

            .selected-image {
              width: 100vw;
              height: 60vh;
              margin-left: -10px;
            }
          }

          .image-wrapper {
            flex-direction: row;
            width: 100%;
            height: 100px;
            margin: 5px;

            .image-list {
              display: flex;
              flex-direction: row;
              overflow-x: auto;

              .image-container {
                width: 80px;
                height: 96px;

                &.selected {
                }
              }
            }

            .image-list-navigation {
              height: 96px;
              flex-direction: column;
              .button {
                width: 100%;
                height: calc((100% - 1px)/2);
              }
              .divider {
                height: 1px;
              }
            }
          }
        }

        .product-info {
          justify-content: flex-start;
          .title-row {
            font-size: 1rem;
            margin-bottom: 0;

            .discount-per {
              margin-right: 3px;
            }

            .name {
              display: inline;
            }
          }

          .price-actions-row {
            .price-row {
              font-size: 1rem;

              .price-container {
                .original-price {
                  &.sale {}
                }
                .discounted-price {
                }
              }
            }
          }

          .divider {}

          .product-details {
            .description {
              font-size: .65rem;
              padding-block: 1px;
            }
          }

          .options {
            .option-product-size {
              margin-block: 3px;
              height: 30px;

              .product-sizes {
                .select-field {
                  font-size: .75rem;
                }
              }

              .quantity-control {
                font-size: .75rem;
                input[type="number"] {
                  height: 30px;
                  width: 40px;
                }

                .btn-quantity-down,
                .btn-quantity-up {
                  height: 30px;
                }
              }
            }
          }

          .actions {
            .button {
              font-size: .7rem;
              font-weight: 500;
              height: 2.5rem;

              &.btn-add-cart {}
              &.btn-add-wishlist {}
            }
          }
        }
      }

      .product-detail-section {
        margin-top: 10px;

        .content {
          margin-top: 10px;

          ::v-deep img {
          }
        }
        .announce {
          margin-top: 10px;
          font-size: .6rem;
        }
      }

      .qa-section {
        margin-top: 10px;
        padding-top: 10px;
        font-size: .6rem;

        .actions {
          margin-top: 5px;
          gap: 6px;

          .button {
            font-size: .6rem;
            font-weight: 600;
            height: 1.5rem;
            width: 80px;

            &.btn-inquiry-product {}
            &.btn-inquiry-personal {}
          }
        }

        .contacts {
          .pagination {
            padding-inline: 5px;
            gap: 0.1rem;
            font-size: 0.7rem;

            button {
              &:not(:disabled) .bi {}
            }

            span {
              margin: 0 2px;
              &.current-page {}
            }
          }

          table {
            margin-top: 5px;

            thead {
              tr {
                th {
                  padding: 3px 8px;
                  text-align: left;
                  background-color: #f5f5f5;
                  font-weight: bold;
                }
              }
            }

            tbody {
              tr {
                td {
                  border-top: 1px solid #e3e3e3;
                  padding: 3px 8px;
                  text-align: left;
                  //font-size: 0.9rem;
                  color: #555;

                  &.is-private-col {
                    width: 10px;
                  }

                  &.title-col {
                    width: auto;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }

                  &.status-col {
                    min-width: 50px;
                  }

                  &.inquirer-email-col {
                    width: 200px;
                  }

                  &.reg-date-col {
                    width: 100px;
                  }

                  &.inquiry-content-empty-col {
                    border-top: none;
                  }
                  &.inquiry-content-col {
                    border-top: none;
                    .indent {
                      margin-right: 5px;
                    }
                  }

                  &.answer-content-empty-col {
                    border-top: none;
                  }
                  &.answer-content-col {
                    .indent {
                      margin-right: 5px;
                    }
                  }
                }
              }
            }
          }

          &.no-contact-data {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #555;
          }
        }
      }

      .not-in-stock-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .not-in-stock {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: black;
          color: white;
          font-size: 2.5rem;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          text-align: center;
          animation: fadeIn 1s;
          z-index: 2;
        }
      }

      @keyframes fadeIn {
        from {}
        to {}
      }
    }
  }
}