.contact-update {
  padding-inline: 30px;

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .content {
    font-size: .75rem;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        border-bottom: 1px solid #eee;

        .contact {
          display: flex; /* Flexbox 적용 */
          justify-content: space-between;
          flex-direction: column;
          width: 100%;
          padding: 10px 20px 10px 20px;

          &-header {
            display: flex;
            justify-content: space-between;
            align-items: center; /* 아이템을 수직으로 중앙 정렬합니다 */

            .contact-title {
              font-size: 1rem; /* 글자 크기를 증가하여 두 줄을 차지하게 합니다 */
              flex: 1; /* 나머지 공간을 차지하게 합니다 */
            }
          }

          &-body {
            margin-block: 0.5rem;
          }

          &-footer {
            display: flex;
            justify-content: space-between;
            color: #888;
            align-items: center; /* 아이콘들을 수직 중앙에 위치시킵니다. */
          }
        }
      }
    }

    .answer-container {
      .content-field {
        display: flex; /* Use flex to align items in one line */
        align-items: center; /* Vertically align items in the middle */
        border: 1px solid #ccc; /* Add border around the container */
        padding: 5px 10px; /* Add some padding inside the container */
        border-radius: 5px; /* Optional: for rounded corners */
        width: 100%;
        margin-top: 10px;

        .input-field {
          border: none;
          outline: none;
          width: 100%;
          height: 150px;
          font-size: .75rem;

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
            box-shadow: 0 0 0 30px white inset !important;
          }
        }
      }

      .error-message {
        color: #dc3545;
        font-size: .75rem;
      }
    }

    .button-container {
      display: flex;
      justify-content: center;

      .btn-answer {
        align-items: center;
        justify-content: center;
        font-size: .75rem;
        font-weight: 700;
        height: 3.2rem;
        width: 500px;
        border-radius: 5px;
        border: none;
        margin: 10px 0 5px 0;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
      }
    }
  }
}