.admin {
  display: flex;
  flex-direction: column;
  //background-color: #f7f7f7;

  .header {
    text-align: center;
    background-color: black;
    color: white;
    padding-block: 10px;

    .title {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .main {
    display: flex;
    margin-inline: 40px;

    .sidebar {
      flex: 0 0 200px;
      display: flex;
      flex-direction: column;

      .list {

        .link-head {
          font-size: 12px;
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
          border-bottom: 1px solid #e3e3e3;
          cursor: pointer;

          i {
            margin-right: 10px;
            cursor: pointer;
          }
        }

        a {
          color: #000000;

          &.link {
            font-size: 12px;
            text-decoration: none;
            display: block;
            padding: 10px 0;
            padding-left: 20px; /* 링크를 한 칸 들여쓰기 */
            border-bottom: 1px solid #e3e3e3;
          }

          &.router-link-exact-active {
            font-weight: bold;
          }
        }
      }
    }

    .main-content {
      flex: 1; /* 남은 공간을 모두 차지 */
      border-left: 1px solid #e3e3e3;
      overflow: auto;
      padding-block: 20px;
    }
  }
}

