.notice-regist {
  padding-inline: 30px;

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    p {
      font-size: 20px;
      font-weight: bold;
    }

    .btn-create-notice {
      border-width: 0.0625rem;
      font-size: .75rem;
      font-weight: 700;
      width: 150px;
      height: 30px;
      background-color: black;
      border-color: black;
      color: white;
    }
  }

  .content {
    font-size: 12px;

    .type-container, .main-image-container, .title-container, .content-container, .status-container, .show-in-slider-container, .show-in-modal-container {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #e3e3e3;
      margin-block: 3px;

      .input-container, .select-container {
        flex-direction: column;
        flex-grow: 1;
      }
    }

    .content-container {
      min-height: 510px;

      #notice-content {
        width: 90%;
      }
    }

    .file-input {
      margin-bottom: 10px;
    }

    /* 슬라이더와 모달의 이미지 파일 입력 필드 크기 조정 */
    #notice-show-in-slider-image, #notice-show-in-modal-image {
      margin-left: 10px;
      width: 40%;
    }

    .input-label {
      margin-right: 10px;
      font-weight: bold;
      width: 100px;

      .required {
        color: #dc3545;
      }
    }

    .input-field, .select-field {
      height: 30px;
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid #545454;
      margin-bottom: 5px;
    }

    .input-field {
      width: 90%;

      /* 웹킷 기반 브라우저(Chrome, Safari 등)의 자동완성 스타일을 덮어쓰기 위한 코드 */
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        box-shadow: 0 0 0 30px white inset !important;
      }
    }

    .select-field {
      border-color: #545454;
      width: 40%;
    }

    .error-message {
      color: #dc3545;
      font-size: .75rem;
      margin-bottom: 5px;
    }
  }
}
