.write-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-inline: auto;
  max-width: 800px;

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .content {
    font-size: 12px;
    display: flex;
    flex-direction: column;

    .field-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      .input-label {
        margin-right: 10px;
        font-weight: bold;
        width: 100px;
        flex-shrink: 0;

        .required {
          color: #dc3545;
        }
      }

      .field-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 10px; /* 라벨과의 간격 조절 */

        .message {
          font-size: 12px;
          margin-bottom: 5px;
          color: darkgray;
        }

        .stars {
          display: flex;
          cursor: pointer;

          .filled-star-black {
            font-size: 24px;
            margin-right: 5px;
          }

          .filled-star-gray {
            font-size: 24px;
            margin-right: 5px;
            color: lightgray;
          }
        }

        .input-field {
          margin-bottom: 10px;
          border: none;
          border-bottom: 1px solid #545454;
          outline: none;
          height: 30px;
          background-color: transparent;
        }

        .review-images {
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;

          .image-box {
            position: relative;
            margin-right: 10px;

            .review-image {
              height: 150px;
              float: left;
            }

            .btn-delete-image {
              position: absolute;
              right: 0;
              top: 0;
              border: none;
              background-color: black;
              color: white;
            }
          }

          .upload-box {
            height: 150px;
            width: 100px;
            border: 1px solid lightgray;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-bottom: 4px;

            p {
              font-size: 20px;
              color: darkgray;
            }
          }
        }
      }
    }

    .button-container {
      display: flex;
      justify-content: center; /* 수평 중앙 정렬 */

      .btn-write-reivew {
        border: none;
        border-radius: 5px;
        font-size: .75rem;
        font-weight: 700;
        width: 70%;
        height: 2.8125rem;
        justify-content: center;
        text-align: center;
        background: linear-gradient(to bottom, #3a3a3a, #000000);
        color: rgb(255, 255, 255);
      }
    }
  }
}

@include mobile {
  .write-review {
    margin-top: 60px;
    margin-inline: 10px;

    .title {
      font-size: 16px;
      margin-bottom: 5px;
    }

    .content {
      font-size: 11px;

      .field-container {
        .input-label {
          font-weight: 500; /* 라벨 텍스트를 굵게 표시 */
          width: 40px; /* 라벨의 너비를 고정합니다. */

          .required {
            color: #dc3545;
          }
        }

        .field-content {
          .message {
            font-size: 11px;
          }

          .stars {
            .filled-star-black {
              font-size: 20px;
            }

            .filled-star-gray {
              font-size: 20px;
            }
          }

          .input-field {
            margin-bottom: 10px;
            height: 25px;
          }

          .review-images {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;

            .image-box {
              position: relative;
              margin-right: 10px;

              .review-image {
                height: 150px;
                float: left;
              }

              .btn-delete-image {}
            }

            .upload-box {
              height: 150px;
              width: 100px;
              margin-bottom: 4px;

              p {
                font-size: 20px;
                color: darkgray;
              }
            }
          }
        }
      }

      .button-container {
        .btn-write-reivew {
          font-size: .7rem;
          font-weight: 500;
          width: 60%;
          height: 2.5rem;
        }
      }
    }
  }
}