.notice-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;

  .title {
  }

  .content {
    padding-inline: 15px;

    .notice-title {
      font-size: 20px;
      font-weight: bold;
    }

    .notice-date {
      color: darkgray;
      margin-bottom: 15px;
    }

    .notice-content {
      width: 100%;
      padding: 20px;

      img {
        max-width: 100%; /* 이미지의 최대 너비를 notice-content의 너비로 제한 */
        height: auto; /* 높이를 자동으로 조절하여 이미지의 원래 비율을 유지 */
      }
    }
  }
}

@include mobile {
  .notice-detail {
    margin-top: 50px;
    margin-inline: 10px;

    .title {}

    .content {
      padding-inline: 0px;

      .notice-title {
        font-size: 16px;
        font-weight: bold;
      }

      .notice-date {
        font-size: 14px;
        margin-bottom: 5px;
      }

      .notice-content {
        font-size: 14px;
        padding: 5px 10px;

        img {}
      }
    }
  }
}