.frequently-asked-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-inline: 15px;

    .btn-contact-us {
      background-color: #000; /* 버튼의 배경색 */
      color: #fff; /* 글자색 */
      border: none; /* 테두리 제거 */
      border-radius: 5px; /* 둥근 모서리 */
      cursor: pointer; /* 마우스를 올렸을 때 커서 모양 변경 */
      font-size: 0.8rem;
      text-align: center;
      width: 100px;
      height: 28px;
      line-height: 28px;
    }
  }

  .content {
    padding-inline: 15px;

    .sections {
      margin-block: 20px;

      .section {
        text-decoration: underline; /* 텍스트에 밑줄 추가 */
        text-underline-offset: 0.2em; /* 밑줄 오프셋을 조정 */
        margin-bottom: 10px;
        font-size: 1rem;
      }

      .question {
        background-color: #F5F5F5;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 0.75rem;

        .bi {
          float: right;
        }
      }

      .answer {
        margin-bottom: 10px;
        padding-inline: 10px;
        font-size: 0.75rem;
      }
    }
  }
}

@include mobile {
  .frequently-asked-questions {
    .title {
      font-size: 16px;
      margin-bottom: 10px;
      padding-inline: 0;

      .btn-contact-us {
        font-size: 0.7rem;
        width: 95px;
        height: 23px;
        line-height: 23px;
      }
    }

    .content {
      padding-inline: 0;

      .sections {
        margin-block: 10px;

        .section {
          margin-bottom: 7px;
          font-size: .75rem;
        }

        .question {
          padding: 5px 8px;
          margin-bottom: 8px;
          font-size: 0.7rem;

          .bi {}
        }

        .answer {
          margin-bottom: 8px;
          padding-inline: 8px;
          font-size: 0.7rem;
        }
      }
    }
  }
}